module.exports = {
    PORT: 3000,
    users: {
        'user1': 'password1',
        'user2': 'password2'
    },
    BROWSER_EXEC: 'C:\\Program Files (x86)\\Microsoft\\Edge\\Application\\msedge.exe',
    SCRAPE_CONCURRENCY: 3,
}