NODE_ENV=example

PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=wine_scraper
DB_CONNECTION_LIMIT=10
SCRAPER_BASE_URL=http://localhost:3001

SCRAPER_USER=wine_scraper
SCRAPER_PASSWORD=wine_scraper

CORS_ORIGIN=http://localhost:3000
