node_modules
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json


# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.dev
.env.prod
.env.production
